<%- include('../includes/head.ejs') %> 
</head>
<body>
    <%- include('../includes/navigations.ejs') %>
    <main>
        <h1><%= text %></h1>
        <ul>
            <% if (authors) { %>
                <% authors.forEach(author => { %>
                    <li>
                        <a href="<%= author.url %>"><%= author.name %></a> | ( <%= author.date_of_birth_formatted %> <% if (author.date_of_death_formatted) { %>
                        <span>- <%= author.date_of_death_formatted %> </span>
                        <% } %> )
                    </li>
                <% }); %> 
        
            <% } else { %>
                <li>There is no Authors!</li>
            <% } %>
        </ul>
    </main>
    
<%- include('../includes/end.ejs') %> 