<%- include('../includes/head.ejs'); %>
</head>
<body>
    <%- include('../includes/navigations.ejs') %>
<main>
    <h1><%= pageTitle %></h1>
    <p>
        <span>
            <% if (book_instances.length) { %>
             <p>
                 <strong style="color: red;">
                    Delete the following bookinstances before attempting to delete this book.
                 </strong>
             </p>
             <div style='margin-left:20px;margin-top:20px'>
                <h4>Bookinstances:</h4>
                <ul>
                    <% book_instances.forEach(instance => { %>
                        <li>
                            <a href="<%= instance.url %>"><%= instance.imprint %> </a>
                            <p><%= instance.status %> </p>
                        </li>             
                    <% }) %>
                </ul>
             </div>
            <% } else { %>
                <p>Do you really want to delete this(<a href=" <%= book.url %> "><%= book.title %></a>) Book?</p>
                <form action="" method="POST">
                    <div class="form-control">
                        <input type="hidden" required='true' name='bookid' value=<%= book._id %> >
                        <button class="btn" type="submit">Delete</button>
                    </div>
                </form>
            <% } %>
        </span>
    </p>
</main>
    
    
<%- include('../includes/end.ejs') %> 